h1, h2 {
    color: darkgreen;
    text-align: center;
    text-transform: uppercase;
}

div {
    width: 50%;
    background-color: lightblue;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    width: 300px;
    height: 25px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}

input[id=newPhone] {
    width: 180px;
    height: 25px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}

input[id=phoneNum] {
    width: 280px;
    height: 25px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea {
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}

div.field {
    line-height: 25px;
    padding-bottom: 5px;
}

div.field label {
    display: block;
    float: left;
    text-align: left;
    width: 110px;
    height: 20px;
    padding-left: 10px;
}

input[type=radio] {
    float: left;
    vertical-align: middle;
    margin: 5px;
}

.button_ok {
    float: none;
    width: 90px;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
}

table {
    width: 100%;
    padding-left: 7px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
    text-align: left;
    display: block;
    float: left;
    /*border-collapse: collapse;*/
}

td, th {
    /*padding: 3px; !* Поля вокруг содержимого таблицы *!*/
    /*border: 1px solid black; !* Параметры рамки *!*/
    /*border-spacing: 0 20px;*/
}

td[id=colPhoneType] {
    width: 105px;
}

td[id=colPhoneNum] {
    /*width: 400px;*/
}

p[id=error] {
    width: 50%;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
}