h1, h2 {
    color: darkgreen;
    text-align: center;
    text-transform: uppercase;
}

h3, h4, h5 {
    color: midnightblue;
    text-align: left;
    text-transform: none;
}

.head {
    display: flex;
    justify-content: normal;
    align-items: unset;
    text-align: center;
}

.head-cont {
    color: darkgreen;
    float: left;
    text-align: left;
}

.head-logo {
    float: right;
    width: 150px;
    margin-left: auto;
    margin-right: 100px;
    margin-top: 20px;
    text-align: justify-all;
}

.container {
    display: flex;
    text-align: left;
}

.wall {
    text-align: left;
    margin-right: 30px;
    margin-bottom: -10px;
}

div.wrapper {
    width: 50%;
    background-color: lightblue;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

div.links {
    display: block;
    text-align: center;
}

a.link {
    margin-left: 10px;
    margin-right: 10px;
}
