h1, h2 {
    color: darkgreen;
    text-align: center;
    text-transform: uppercase;
}

div {
    width: 50%;
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}