div.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: lightblue;
    box-shadow: 0 0 8px 2px lightgray;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
}

h3 {
    text-align: center;
    padding-bottom: 1rem;
}

caption {
    caption-side: top;
}

td, th {
    background-color: #86c5d8 !important;
    text-align: left;
    padding-left: 0.5rem !important;
}

a.link {
    display: block;
    text-align: center;
}
