nav[id=navbar_search] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: lightblue;
    box-shadow: -2px -8px 8px lightgray, 2px -8px 8px lightgray;
}

.nav-link {
    font-size: 0.9rem !important;
    padding: 0.3rem;
}

.nav-link:hover {
    color: #fff !important;
    background-color: #0dcaf0;
    border-radius: 0.5rem;
}

input[id=search] {
    width: 15rem;
    font-size: 0.9rem !important;
    padding: 0.3rem 0.5rem;
}

button[id=btn_search] {
    width: 2.3rem;
    font-size: 0.9rem !important;
    padding: 0.3rem;
}

/* Autocomplete */
* {
    box-sizing: border-box;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}