div.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    border-left: solid 1px #25cff2;
    border-right: solid 1px #25cff2;
}

h2 {
    text-align: center;
    color: darkgreen;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

form[id=login_form] {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.input-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button[id=button_ok] {
    width: 6rem;
}

.btn-outline-info:hover {
    color: #fff !important;
    border-radius: 0.5rem;
}

p[id=error] {
    text-align: center;
    color: red;
}
